.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in-out linear forwards;
    animation-iteration-count: infinite;
    filter: blur(2px);
  }

  .circle {
    width: 100px;
    height: 100px;
    background-color: rgba(100, 91, 91, 0.3);
    animation: fade-in-out linear infinite;
  }

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }